@tailwind base;
@tailwind components;
@tailwind utilities;



.swal-confirmar {
    background-color: green;
    font-weight: 700;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: green;
    margin-left:15px;
}
.swal-confirmar:hover {
    color: white;
    background-color: green;
    border-color: green;
}
.swal-cancelar {
    color: green;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: green;
    background-color: transparent;
    margin-right:15px;
}
.swal-cancelar:hover {
    background-color: green;
    border-color: green;
    color: white;
}
.swal-popup {
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 15px;
    border-top-color: green;
}
.swal-btn-sucesso{
    color: #16A34A;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #16A34A;
    background-color: transparent;
    margin-right:15px;
}
.swal-btn-sucesso:hover{
    background-color: #16A34A;
    border-color: #16A34A;
    color: white;
}

.swal-popup-sucesso{
    border-style: solid;
    border-top-width: 6px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 15px;
    border-top-color: #16A34A;
}

.swal-btn-erro{
    color: #ce2929;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ce2929;
    background-color: transparent;
    margin-right:15px;
}
.swal-btn-erro:hover{
    background-color: #ce2929;
    border-color: #ce2929;
    color: white;
}

.swal-popup-erro{
    border-style: solid;
    border-top-width: 6px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 15px;
    border-top-color: #ce2929;
}


.custom-marker {
    background-color: #005DB7; /* Cor de fundo do marcador */
    padding:6px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 100px;
    box-shadow: 0 0 0 10px rgba(0, 0, 255, 0.2),
                0 0 15px rgba(0, 0, 255, 0.6);

}


.leaflet-popup {
    min-width: 200px; /* Aumenta a largura mínima do popup */
    max-width: 300px; /* Define a largura máxima do popup */
    width: auto; /* Permite que o conteúdo ajuste a largura */
}
